# 인천광역시의 연령 및 직업별 소비 데이터 분석

===================================================================================================================

본 과제에서는 인천광역시에서의 사업을 진행한다는 가정하에 소비자 타겟을 정하기 위한 정보 분석을 위해 가장 최근 자료인 2020년도 6월 데이터를 기반으로 분석을 진행한다.

음식점, 옷가게 등 점포 사업을 시작하기 위해서는 해당 지역의 인구 분포 조사 역시 중요하지만 가장 중요한 것은 선택한 사업 아이템의 주요 고객층의 수요를 분석하는 것이 중요하다.

연령대 별 소비 금액의 수준을 알고 직업별 소비 수준을 확인 가능하면 이 데이터를 기반으로 고객층을 타겟으로 하여 마케팅 및 상품 개발 및 소싱에도 참고할 자료로 사용이 가능하다.

우선 데이터 분석은 하단과 같이 진행을 한다.

- 연령대 별 소비 수준 분석

- 직업 별 소비 수준 분석

-

-

===================================================================================================================

## 작업 환경


- Python Version : Python 3.10.13

- Edit date : 2024/04/17

## 데이터 출처

- 공공데이터 포탈 : https://www.data.go.kr/data/15076578/fileData.do

In [2]:
%pip install seaborn

Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

- 공공데이터 포탈의 csv 데이터는 CP949의 형태로 입력되어 있어 pandas로 encoding을 CP949로 변경하여 데이터를 읽어들인다.


- 데이터의 상세 정보 설명

※ 인구단위: 명/ 금액단위: 천원

성별 [ 0 : 전체 1 : 남성 2 : 여성]

직업구분 [0: 전체 1:자영업자 2:급여소득자(상장) 3:급여소득자(비상장) 4:비경제활동인구]

최근 12개월신용 및 체크카드이용 금액합계[최근12개월 전체 신용카드  및 체크카드의 신용판매 이용금액 합계(현금서비스 제외)// 단위: 천원]

최근 12개월 전체체크카드 이용금액합계[최근12개월 전체 체크카드 이용금액  합계// 단위: 천원]

최근 12개월 해외이용금액합계[최근12개월 전체 신용카드 해외  신용판매 이용금액 합계(현금서비스 제외)// 단위: 천원]

최근 12개월 평균신용  및 체크카드이용 금액합계[최근12개월 (신용카드+체크카드)  이용금액 >0 인 인구의 (신용카드+체크카드) 신용판매 이용금액 평균(현금서비스 제외)// 단위: 천원]

In [13]:
df = pd.read_csv("/workspaces/ml202401-midterm-LeeEulHo/incheon_2006.csv", encoding="CP949")
df.head()

,기준년월,행정동코드,시도명,시군구명,성별,연령별,직업구분,분위구분,최근12개월신용및체크카드이용금액합계,최근12개월전체체크카드이용금액합계,...,최근12개월해외이용인구수,최근1개월신용및체크카드이용금액합계,최근1개월체크카드이용금액합계,최근1개월해외신판이용금액합계,최근1개월평균신용및체크카드이용금액,최근1개월평균체크카드이용금액,최근1개월평균해외이용금액,최근1개월신용및체크카드이용인구수,최근1개월체크카드이용인구수,최근1개월해외이용인구수
0,2020-06-30,2820000000,인천광역시,남동구,0,70,4,10,4390122.0,667287.0,...,19,298604.0,24817.0,NaN,2133.0,564.0,NaN,140,44,2
1,2020-06-30,2814000000,인천광역시,동구,0,30,4,0,53588597.0,17895533.0,...,790,4572487.0,1532379.0,23489.0,1325.0,555.0,117.0,3450,2762,201
2,2020-06-30,2814000000,인천광역시,동구,1,70,4,3,1077528.0,210527.0,...,4,99124.0,25705.0,NaN,597.0,357.0,NaN,166,72,1
3,2020-06-30,2820000000,인천광역시,남동구,1,0,3,3,60992204.0,15770823.0,...,916,5883221.0,1461265.0,35405.0,1688.0,562.0,134.0,3486,2600,264
4,2020-06-30,2814000000,인천광역시,동구,1,70,3,6,222765.0,23867.0,...,0,16328.0,549.0,NaN,960.0,183.0,NaN,17,3,0